{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
<div class="row">
 <div class="col-md-12">
   <h1>THIS IS ABOUTPAGE</h1>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis totam quae deserunt soluta incidunt ea saepe iusto ipsum non, omnis suscipit neque enim odio sapiente ullam aspernatur possimus temporibus eius.</p>
 <div>
</div>
 
 
<div class="row">
 <div class="col-md-12 px-0">
   <img src="{% static 'images/nature.jpg' %}" height="250" width="100%">
 <div>
</div>
</div>
 
{% endblock %}