{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
</style>
{% endblock %}
{% load bootstrap4 %}
{% block dashboard %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto bg-light">
            <h1 class="text-center">Add Product</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{i.id}}" name="pid">
                <input type="hidden" value="1" name="qty">
                {% bootstrap_form form %}
                <input type="submit" value="ADD PRODUCT" class="btn btn-primary m-2">
            </form>
            <!--
            <table>
            {{form.as_table}}  OR {{form.as_p}}
            </table>
            -->
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/my_products"
</script>
{% endif %}
{% endblock %}