<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="static/jquery/jqry.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   --> 
    
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
   
    <style>
        img{
            width:100%;
        }
    </style>

    {% block head %}
    <!--for adding styles of internal css-->
    {% endblock %}
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">

                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="" class="navbar-brand">My Website</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">HOME</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">ABOUT</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">CONTACT</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'all_products' %}" class="nav-link">ALL PRODUCTS</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                {% for c in category %}
                                <a href="{% url 'all_products' %}?cat={{c.id}}" class="dropdown-item">{{c.cat_name}}</a>
                                {% endfor %}
                            </div>
                        </li>

                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{% url 'reg' %}" class="nav-link">SignUp</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'cust_dashboard' %}" class="nav-link">Welcome {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'reg' %}" class="nav-link btn btn-outline-light">SignUp</a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link btn btn-outline-light" data-toggle="modal"
                            data-target="#mymodal">Login</a>        
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="col-md-12">
                <div class="modal fade" id="mymodal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'user_login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="username" id="" class="form-control" placeholder="Enter Username">
                                        </div>
                                        
                                    </div>

                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="Enter Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="checkbox" name="rememberme"><label for="">Remember me</label>
                                        <a href="{% url 'forgotpass' %}">Forgot Password?</a>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="submit" class="btn btn-success">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
         
        {% block myblock %}
        
        {% endblock %}
    
    <div class="container-fluid">
        <div class="row bg-primary text-light p-5">
            <div class="col-md-4" style="border-right:2px solid white;">
                <h4>Lorem Ipsum</h4>
                <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dignissimos, cum molestias ducimus odit esse, soluta in, temporibus eum error modi? Eveniet odio rem officia error dolores atque earum quos.</small>    
            </div>

            <div class="col-md-4" style="border-right:2px solid white;">
                <ul>
                    <li>LINK 1</li>
                    <li>LINK 2</li>
                    <li>LINK 3</li>
                </ul>
            </div>

            <div class="col-md-4" style="border-right:2px solid white;">
                <ul>
                    <li>LINK 1</li>
                    <li>LINK 2</li>
                    <li>LINK 3</li>
                </ul>
            </div>
        </div>

    </div>
   
</body>
</html>