{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    .cart td{
        width:20%;
    }
</style>
{% endblock %}
{% block myblock %}
{% if user.is_superuser %}
    <h1 class="jumbotron my-3">You Are Not Allowed Here</h1>
{% else %}
    <div class="container-fluid" style="background:url('/static/images/cover.jpg');background-size:100% 100%;">
        <div class="row py-5" style="background:rgba(0,0,0,0.5)">
            <div class="col-md-12 py-5 my-5 text-light text-center font-weight-bold text-uppercase">
                {% if status %}
                   <h1>{{status}}</h1>
                {% else %}
                   <h1>My Cart ({{items|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row py-2">
            
           <div class="col-md-9 my-5">
               <div style="box-shadow:0px 0px 10px gray">
               {% if msz %}
               <div class="{{cls}}">{{msz}}</div>
               {% endif %}

               <table class="table cart">
                   <thead>
                       <tr>
                           <th>Image</th>
                           <th>Product Name</th>
                           <th>Product Price</th>
                           <th>Quantity</th>
                           <th>Action</th>
                       </tr>
                   </thead>

                   <tbody>
                       {% for i in items %}
                       <tr id="row{{i.id}}">
                           <td><img src="/media/{{i.product.product_image}}" style="height:100px;width:100px;"></td>
                           <td>{{i.product.product_name}}</td>
                           <td>&#8377;<del id="pp{{i.id}}">{{i.product.product_price}}</del>&#8377;<span id="sp{{i.id}}">{{i.product.sale_price}}</span></td>
                           <td>
                               <div class="row">
                                   <div class="col-md-3">
                                       <i class="fa fa-plus p-1 bg-success text-light rounded-circle" onclick="change_quan('{{i.id}}','plus')"></i>
                                   </div>
                                   <div class="col-md-6">
                                       <input type="number" value="{{i.quantity}}" class="form-control" id="cart{{i.id}}">
                                   </div>
                                   <div class="col-md-3">
                                       <i class="fa fa-minus p-1 bg-danger text-light rounded-circle" onclick="change_quan('{{i.id}}','minus')"></i>
                                   </div>
                               </div>
                           </td>
                           <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger">&times; Remove</button></td>
                       </tr>
                       {% endfor %}
                   </tbody>
               </table>
               </div>  
           </div>

           {% if not items %}
            <div>
                <h1 style="margin-left:400px; color:blue;">Empty Cart</h1>
            </div>
            {% else %}
           <div class="col-md-3 my-2">
               <div  style="box-shadow:0px 0px 10px gray">
            <h2 class="text-center">CHECKOUT</h2>
               <table class="table">
                   <tr>
                       <td>ITEM TOTAL</td>
                       <td id="item_total"></td>
                   </tr>
                   <tr>
                       <td>OFFERED PRICE</td>
                       <td id="disc"></td>
                   </tr>
                   <tr>
                       <td>QUANTITY</td>
                       <td id="quantity"></td>
                   </tr>
                   <tr>
                       <td>YOU SAVED</td>
                       <td id="offer"></td>
                   </tr>
                   <tr>
                       <td>DELIVERY</td>
                       <td>FREE</td>
                   </tr>
                   <tr style="border-top:2px dotted red;">
                       <td>GRAND TOTAL</td>
                       <td id="grand_total"></td>
                   </tr>
               </table>
               <div>
                <a href="{% url 'process_payment' %}" class="btn btn-success btn-block btn-sm p-2 font-weight-bold">PROCEED TO PAY <span id="btamt"></span></a>
               </div>
            </div>
           </div>
           {% endif %}
        </div>
        
    </div>

    <script>
        function grandTotal(){
            $.ajax({
                url:"{% url 'get_cart_data' %}",
                type:'get',
                success:function(data){
                    p = Math.round(100-((data.offer/data.total)*100),2)
                    save = data.total-data.offer;
                    $("#item_total").html("&#8377;"+data.total*data.quan);
                    $("#disc").html("&#8377;"+data.offer*data.quan);
                    $("#offer").html("&#8377;"+save+"<span class='text-success'>("+p+"%)</span>");
                    $("#quantity").html(data.quan+" Items");
                    $("#grand_total").html("&#8377;"+data.offer);
                    $("#btamt").html("&#8377;"+data.offer);
                }
            })
        }
        grandTotal()

        function change_quan(id,action){
            let old = $("#cart"+id).val();

            quan = 0
            if(action=="plus"){
                quan += parseInt(old)+1
            }else{
                quan += parseInt(old)-1
            }

            $("#cart"+id).val(quan);

            $.ajax({
                url:"{% url 'change_quan' %}",
                type:"get",
                data:{cid:id,quantity:quan},
                success:function(data){
                    grandTotal();
                  if(data==0){
                      remove_cart(id);
                  }
                }
            })
        }
        
        function remove_cart(id){
            $.ajax({
                url:"{% url 'change_quan' %}",
                data:{delete_cart:id},
                success:function(data){
                    grandTotal();
                    $("#row"+id).hide();
                }
            })
        }
    </script>
    {% endif %}
{% endif %}
{% endblock %}