{% extends "dashboard_base.html" %}
{% block head %}
  <style>
      label{
            font-size:17px; font-weight:bold; color:blueviolet;
      }
  </style>
{% endblock %}
{% block dashboard %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-light my-5 p-4">
            <form action="" method="post">
                {% csrf_token %}
                <h1 class="text-primary text-center" style=" box-shadow: 0px 0px 20px purple; font-family:lobster;">Get Your Password</h1> 
                <hr>

                {% if msz %}
                  <div class="alert {{col}}">{{msz}}</div>
                {% endif %}

                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="cpwd" required>
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="npwd" id="pas" onkeyup="check_pass()" required>
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" id="cpas" onkeyup="check_pass()" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Change Password" id="sbbtn">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();

        if(p==cp){
            $("#pas").css("border","2px solid green");
            $("#cpas").css("border","2px solid green");
            $("#pas").removeClass("alerrt alert-danger").addClass("alert alert-success")
            $("#cpas").removeClass("alerrt alert-danger").addClass("alert alert-success")
            $("#sbbtn").removeAttr("disabled");

        }
        else{
            $("#pas").css("border","2px solid red");
            $("#cpas").css("border","2px solid red");
            $("#pas").removeClass("alerrt alert-success").addClass("alert alert-danger")
            $("#cpas").removeClass("alerrt alert-success").addClass("alert alert-danger")
            $("#sbbtn").attr("disabled","disabled");
        }

    }
</script>

{% endblock %}