{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 bg-primary text-center py-5 text-light">
        <h1>THIS IS CONTACT PAGE</h1>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3552956.459315803!2d74.79870343932703!3d29.583795094035832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fdc78c629846d%3A0xefff5e8701f40fa!2sShivaji%20Park!5e0!3m2!1sen!2sin!4v1585743957668!5m2!1sen!2sin"
         width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

    <div class="col-md-6 bg-secondary">
        <form action=" " method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>YOUR NAME : </label>
                <input type="text" class="form-control" placeholder="Enter Name....." name="name">
            </div>

            <div class="form-group">
                <label>CONTACT NUMBER : </label>
                <input type="number" class="form-control" placeholder="Enter phone number....." name="contact">
            </div>

            <div class="form-group">
                <label>SUBJECT : </label>
                <input type="text" class="form-control" placeholder="Enter Subject....." name="subject">
            </div>

            <div class="form-group">
                <label>MESSAGE : </label><br>
                <textarea class="form-group" rows="5" cols="35" name="message"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" class="btb btn-success btn-block" value="Send Message....">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Previous Feedbacks</h2>
        <h4 class="text-center">Total : {{messages|length}}</h4>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in messages %}
                <tr>
                    <td>{{msg.id}}</td>
                    <td>{{msg.name}}</td>
                    <td>{{msg.contact_number}}</td>
                    <td>{{msg.subject}}</td>
                    <td>{{msg.message}}</td>
                    <td>{{msg.added_on}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
{% endblock %}

