{% extends "base.html" %}
{% load static %}
{% block myblock %}
{% if user.is_superuser %}
  <div class="container">
      <div class="row">
          <div class="col-md-12 m-4">
              <div class="jumbotron text-center text-danger">
                  <h2 style="box-shadow:2px 2px 20px gray;">Sorry {{user.username}}, Admin is not Allowed To Access this Page.!!!</h2>
              </div>
          </div>
      </div>
  </div>

{% else %}
<div class="container-fluid">
    <div class="row">
        <!--left side menu-->
        <div class="col-md-2 bg-dark py-5">
            <nav class="navbar-dark">
                <a href="" class="navbar-brand">MyDashboard
                    <div class="text-center">
                        {% if data.profile_pic %}
                        <img src="/media/{{data.profile_pic}}" style="height:80px;width:80px;border-radius:50%">
                        {% else %}
                        <img src="{% static 'images/user.png' %}" style="height:80px;width:80px;border-radius:50%">
                        {% endif %}
                    </div>
                    <p>{{user.username}}</p>
                </a>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'cust_dashboard'%}" class="nav-link">View Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link">Edit Profile</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'change_password' %}" class="nav-link">Change Password</a>
                    </li>

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'add_product_view' %}" class="nav-link">Add Product</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'my_products' %}" class="nav-link">My Products</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'sendemail' %}" class="nav-link">Send Email</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'cart' %}" class="nav-link">My Cart</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--right side menu-->
        <div class="col-md-10">
            {% block dashboard %}

            {% endblock %}

        </div>
    </div>
</div>
{% endif %}
{% endblock %}