{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>

</style>
{% endblock %}

{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow shadow-lg">
                <div class="card-body">
                    <h3 class="text-danger">Are you sure want to delete?</h3>
                    <img src="/media/{{product.product_image}}" height="200" width="100%">
                    <h4>{{product.product_name}}</h4>
                    <div class="mt-4">
                        <a href="{% url 'delete_product' %}?pid={{product.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                        <a href="{% url 'my_products' %}" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
           </div>        
        </div>
    </div>
</div>

{% if status %}
<script>
    alert("{{status}}");
    window.location = "/my_products/"
</script>
{% endif %}
{% endblock %}