
{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    .spinner{
        height:100px; width:100px; border:10px solid gray; border-bottom:10px solid blue;
        animation:ani 1s linear infinite; border-radius:50%; margin:auto;
    }

    @keyframes ani{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }
</style>

{% endblock %}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="my-5 p-5" style="box-shadow:0px 0px 15px black;">
                
                <h2>Reset Your password</h2><hr>
                <div id="result"></div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Enter Your username</label>
                        <input type="text" class="form-control" id="un" name="username" placeholder="Enter Username Here...">
                    </div>
                    <button type="button" class="btn btn-warning" onclick="getpass()" id="continue">Click To Continue</button>
                    
                    <div class="mt-2" style="display:none" id="spin">
                        <div class="spinner"></div>
                    </div>
                    
                    <div class="form-group" style="display:none;" id="afterotp">
                        <label>Enter OTP</label>
                        <input type="number" class="form-control" id="uotp" placeholder="Enter OTP Here...">
                        <button onclick="matchotp()" type="button" class="btn-btn-info mt-3">Verify OTP</button>
                    </div>

                    <div style="display:none" id="changepass">
                        <div class="form-group">
                            <label>Enter New Password</label>
                            <input type="password" name="npass" class="form-control" placeholder="Enter New Password" >
                        </div>
    
                        <div class="form-group">
                            <input type="submit" value="Change My Password" class="btn btn-success">
                        </div>
                    </div>
                    
                    <input type="hidden" id="realotp">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function getpass(){
        $("#spin").show();
        let username=$("#un").val(); 
        $.ajax({
            url:"{% url 'reset_password' %}",
            type:"get",
            data:{username:username},
            success:function(data){
                $("#spin").hide();
                if(data.status=="failed"){
                    $("#result").html("<p class='alert alert-danger text-center'>No user registered with this username</p>");
                }
                else if(data.status=="error"){
                    $("#result").html("<p class='alert alert-danger text-center'>Could Not Sent Email To "+data.email+" Something Went Wrong.!!!</p>");
                }
                else if(data.status=="sent"){
                    $("#result").html("<p class='alert alert-success text-center'>An OTP Sent To Your Registered Email ID : "+data.email+"</p>");
                    $("#continue").hide();
                    $("#afterotp").slideDown(1000);
                    $("#realotp").val(data.rotp)
                
                }
                
            }
        })
    }


    function matchotp(){
        uotp = $("#uotp").val();
        rotp = $("#realotp").val();

        if(uotp==rotp){
            $("#afterotp").hide()
            $("#changepass").fadeIn(1000);
            $("#result").html("<p class='alert alert-success'>Validation Success.!!!</p>")

        }else{
            $("#result").html("<p class='alert alert-danger'>You Entered An Incorrect OTP.!!!</p>");
        }
    }

</script>

{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}

{% endblock %}

