{% extends "base.html" %}
{% load static %}
{% block head %}
   <style>
       h1{
           font-family:cursive; color:red;
       }
       .box:hover{
           height:100%; width:100%; background: rgba(0,0,0,0.5); color:white; text-align:justify;
       }
   </style>
{% endblock %}
{% block myblock %}
    
    <div class="container-fluid">
        <div class="row py-5" style="background:url('static/images/cover.jpg'); background-size:100% 100%;">
            <div class="col-md-8 mx-auto my-5">
                <form action="{% url 'all_products' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" name="qry" class="form-control" placeholder="Search By Product Name....">
                            </div>
                            <!--
                            <div class="col-md-5">
                                <input type="text" name="price" class="form-control" placeholder="Search By Price Less Than....">
                            </div>
                            -->

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Our Categories ({{category|length}})</h1>
        </div>

        {% for c in category %}
         <div class="col-md-3 p-4 text-center">
             <div style="box-shadow:0px 0px 10px black; background:url('/media/{{c.cover_pic}}'); background-size:100% 100%;">
                <a href="{% url 'all_products' %}?cat={{c.id}}">
                    <div class="box" style="height:300px;">
                        <h1>{{c.cat_name}}</h1>
                        <p>{{c.description}}</p>
                    </div>
                </a>
             </div>  
         </div>
        {% endfor %}
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Previous Feedbacks</h2>
            <h4 class="text-center">Total : {{messages|length}}</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                    <tr>
                        <td>{{msg.id}}</td>
                        <td>{{msg.name}}</td>
                        <td>{{msg.contact_number}}</td>
                        <td>{{msg.subject}}</td>
                        <td>{{msg.message}}</td>
                        <td>{{msg.added_on}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide bg-secondary" data-ride="carousel" id="mycar" style="height:500px;"> 
            
                
                 <ul class="carousel-indicators">
                     <li data-target="#mycar" data-slide-to="0" class="active"></li>
                     <li data-target="#mycar" data-slide-to="1"></li>   
                 </ul>
               <div class="carousel-inner">
                   <div class="carousel-item active">
                    <img src="{% static 'images/nature.jpg' %}" alt="not found" style="height:500px;width:100%; margin-top:50px;">
                   </div>

                    {% for i in messages %}
                    <div class="carousel-item">
                        <div class="text-center p-5"style="width:95%;height:500px;background-color:navy;color:white;">
                        <img src="{% static 'images/1.jpg' %}" alt="not found" style="border-radius:100%;height:110px;width:110px;margin-top:60px;">
                        <h3>{{i.name}}</h3>
                        <h3>{{i.contact_number}}</h3>
                        </div>
                    </div>
                    {% endfor %}   
               </div>

                  <a href="#mycar" class="carousel-control-prev" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </a>

                  <a href="#mycar" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                 </a>
        </div> 
        </div>
    </div>
    
</div>

{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>
{% endif %}

{% endblock %}