{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
   <style>
    .bg-img{
        background:url('/static/images/2.jpeg');
    }
   </style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-img py-5 text-center text-light px-0">
                <h1>Dashboard &gt; Send Email</h1>
            </div>

            <div class="col-md-6 p-3 bg-light my-5 shadow shadow-lg mx-auto">
                {% if message %}
                <div class="alert {{cls}}">{{message}}</div>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">To</label>
                        <input type="text" class="form-control" placeholder="To" name="to" required> 
                    </div>
        
                    <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject" name="sub" required> 
                    </div>
        
                    <div class="from-group">
                        <label for="">Message</label>
                        <textarea name="msz" rows="5" placeholder="Enter Your Message" class="form-control" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <input type="submit" value="Send Email" class="btn btn-outline-primary rounded-pill">
                    </div>
                </form>
            </div>
        </div>
   
    
</div>
{% endblock %}