{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
    form .row{
        margin-top:2%;
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid" style="background:url('/static/images/cover.jpg'); background-size:100% 100%;">
    <div class="row py-5" style="background:rgba(0,0,0,0.7)">
        <div class="col-md-12 py-5 my-5 text-light text-center font-weight-bold text-uppercase">
            <h1>Dashboard &gt; EDIT PRODUCT </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card col-md-8 mx-auto">
            <div class="card-header">
                <h1>Dashboard &gt; EDIT PRODUCT </h1>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            <img src="/media/{{product.product_image}}" alt="" style="height:200px; width:30%;">
                            </div>
                            <label for="" class="mt-3">Update Image : </label>
                            <input type="file" class="form-control" name="pimg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Product Name</label>
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="pname" value="{{product.product_name}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Product Category</label>
                        </div>

                        <div class="col-md-6">
                            <select name="pcat" id="" class="form-control">
                               {% for i in category %}
                               {% if i.id == product.product_category.id %}
                               <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                               {% else %}
                               <option value="{{i.id}}">{{i.cat_name}}</option>
                               {% endif %}
                               {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Product Price</label>
                        </div>

                        <div class="col-md-6">
                            <input type="number" class="form-control" name="pp" value="{{product.product_price}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Sale Price</label>
                        </div>

                        <div class="col-md-6">
                            <input type="number" class="form-control" name="sp" value="{{product.sale_price}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Details</label>
                        </div>

                        <div class="col-md-6">
                            <textarea class="form-control" name="des" rows="5">
                                {{product.details}}
                            </textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-warning" value="SAVE CHANGES">
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if status %}
<script>
    alert("{{status}}");
   <!-- window.location = "update_product?pid={{id}}"; -->
</script>
{% endif %}
{% endblock %}